
body {
	font-family: "Open Sans";
	background-color:#008CB8;
}


input::-webkit-input-placeholder {
	font-size: 13px; color: #000000;
}

input:-moz-placeholder {
	font-style: italic;
	font-size: 13px; color: #000000;
}

.login-box {
	position:absolute;
	background: white;
	height: 370px;
	width: 900px;
	top: 15%;
	left: 18.5%;

}

.Get-going {
	position: relative;
	background:white;
	height: 20px;
	width: 300px;
	font-weight: 600;
	font-size: 22px;
	color: #000000;
	left: 10%;
	top: 30%;
}

.resettextbox {
	position: relative;
	background:white;
	height: 30px;
	width: 320px;
	font-size: 13px;
	color: #000000;
	left: 10%;
	top: 40%;
	border:none; 
}

.textbox {
	border:none; 
	width:200px; 
	height:20px; 
	font-size: 13px;
}


.Enter-username-password {
	position: relative;
	background:white;
	height: 30px;
	width: 320px;
	font-size: 13px;
	color: #000000;
	left: 10%;
	top: 40%;
	border-bottom: 1px solid #EEEEEE;
}

.Recover-password {
	position: relative;
	background:white;
	height: 20px;
	width: 200px;
	font-size: 13px;
	color: #000000;
	left: 35%;
	top: 50%;
}

.Login-link {
	position: relative;
	background:white;
	height: 20px;
	width: 100px;
	font-size: 13px;
	color: #000000;
	left: 70%;
	top: 50%;
	text-decoration : none;
	color:#008CB8;
}


.alert{padding:8px 35px 8px 14px;margin-bottom:20px;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);background-color:#fcf8e3;border:1px solid #fbeed5;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}

.alert,.alert h4{color:#c09853;}
.alert h4{margin:0;}
.alert .close{position:relative;top:-2px;right:-21px;line-height:20px;}
.alert-success{background-color:#dff0d8;border-color:#d6e9c6;color:#468847;}
.alert-success h4{color:#468847;}
.alert-danger,.alert-error{background-color:#f2dede;border-color:#eed3d7;color:#b94a48;}
.alert-danger h4,.alert-error h4{color:#b94a48;}
.alert-info{background-color:#d9edf7;border-color:#bce8f1;color:#3a87ad;}
.alert-info h4{color:#3a87ad;}
.alert-block{padding-top:14px;padding-bottom:14px;}
.alert-block>p,.alert-block>ul{margin-bottom:0;}
.alert-block p+p{margin-top:5px;}

.Login-button {
	position:absolute;
	background:white;
	height: 30px;
	width: 80px;
	font-size: 13px;
	color: #0084B2;
	font-weight: bold;
	border: 1px solid #0084B2;
	padding:5px;
	left: 10%;
	top: 80%;
	text-decoration : none;
	text-align: center;

}

.signup-button {
	position:absolute;
	background:white;
	height: 30px;
	width: 80px;
	font-size: 13px;
	color: #0084B2;
	font-weight: bold;
	border: 1px solid #0084B2;
	padding:5px;
	left: 10%;
	top: 85%;
	text-decoration : none;
	text-align: center;

}


.rightbox {
	height: 300px;
	width: 450px;
    position: relative;
    border-left: 1px solid #EEEEEE;
    left: 50%;
    top: 5%;
}

.leftbox {
    position: relative;
	background:white;
	height: 20px;
	width: 200px;
	font-size: 13px;
	color: #0084B2;
	left: 12%;
	top: 40%;
}