
body {
	font-family: "Open Sans";
	background-color:#0084B2;
}

.dashboard { background-color: white }

input::-webkit-input-placeholder {
	font-size: 13px; color: #000000;
}

input:-moz-placeholder {
	font-style: italic;
	font-size: 13px; color: #000000;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.login-box {
	position:absolute;
	background: white;
	height: 370px;
	width: 900px;
	top: 15%;
	left: 18.5%;

}

.topdivider {
	width: 1400px; 
	background:white;
	position:absolute; 
	top: 8%;
	text-align: center;
	border-top: 1px solid #C0C0C0;

}

.dcontent {
	background:white;
	position:absolute; 
	font-size: 14px;
	color: #787878 ;
	top: 10%;
	left: 27%;
	text-align: left
}


textarea {
  resize: none;
  border:none; 
  font-size: 15pt;
  font-family: Open Sans;

}
.topdivider2 {
	width: 590px; 
	height: 50px;
	background:white;
	position:absolute; 
	top: 34%;
	left: 27%;
	border-top: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;

}
.dcontent2 {
	background:white;
	position:absolute; 
	top: 30%;
	left: 40%;
	text-align: center;
	color: #787878 ;
}

.dcontent3 {
	background:white;
	position:absolute; 
	top: 45%;
	left: 27%;
	text-align: center;
	color:#787878 ;
}

.dcontent5 {
	background:white;
	width: 590px; 
	height: 120px;
	text-align: center;
	color:#787878 ;
	border-bottom: 1px solid #C0C0C0;
	
}

.topbar_left {
	position:absolute; 
	width: 50px; 
	height: 60px; 
	background-color:white;
	text-align: center;
}
.topbar_left1 {
	position:absolute; 
	top: 3%;
	left: 4%; 
	background-color:white;
	text-align: center;
}
.topbar_center {
	position:absolute; 
	left:600px; 
	width: 150px; 
	height: 60px; 
	background-color:white;
	text-align: center;


}

.topbar_right {
	position:absolute;
	left:1200px; 
	width: 150px; 
	height: 60px; 
	background-color:white;
	text-align: center;

}


.topbar_right1 {
	top: 3%;
	position:absolute;
	left:1300px; 
	background-color:white;
	text-align: right;

}

.profile_topbar_center {
	position:absolute; 
	left:600px; 
	width: 150px; 
	height: 60px; 
	background-color:white;
	text-align: center;


}

.profile_content1 {
	position:absolute; 
	left:600px; 
	width: 150px; 
	height: 60px; 
	background-color:white;
	text-align: center;
	top: 10%;


}

.profile_content2 {
	background:white;
	position:absolute; 
	width: 500px;
	height: 70px;
	top: 45%;
	left: 30%;
	text-align: center;
	border-bottom: 1px solid #C0C0C0;
	border-top: 1px solid #C0C0C0;
	font-size: 20px;


}

.profile_content3 {
	background:white;
	position:absolute; 
	top: 60%;
	left: 44%;
	text-align: center;

}



.Get-going {
	position: relative;
	background:white;
	height: 20px;
	width: 300px;
	font-weight: 600;
	font-size: 22px;
	color: #000000;
	left: 10%;
	top: 30%;
}

.resettextbox {
	position: relative;
	background:white;
	height: 30px;
	width: 320px;
	font-size: 13px;
	color: #000000;
	left: 10%;
	top: 40%;
	border:none; 
}

.textbox {
	border:none; 
	width:200px; 
	height:20px; 
	font-size: 13px;
}


.Enter-username-password {
	position: relative;
	background:white;
	height: 30px;
	width: 320px;
	font-size: 13px;
	color: #000000;
	left: 10%;
	top: 40%;
	border-bottom: 1px solid #EEEEEE;
}

.Recover-password {
	position: relative;
	background:white;
	height: 20px;
	width: 200px;
	font-size: 13px;
	color: #000000;
	left: 35%;
	top: 50%;
}

.Login-link {
	position: relative;
	background:white;
	height: 20px;
	width: 100px;
	font-size: 13px;
	color: #000000;
	left: 70%;
	top: 50%;
	text-decoration : none;
	color:#008CB8;
}


.alert{
	position:fixed;
	padding:8px 35px 8px 14px;
	margin-bottom:20px;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
	background-color:#fcf8e3;
	border:1px solid #fbeed5;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}

.Publish-button {
	position:absolute;
	background:white;
	height: 28px;
	width: 80px;
	font-size: 13px;
	color: #303030;
	font-weight: bold;
	border: 1px solid #C0C0C0;
	padding:5px;
	left: 80%;
	top: 75%;
	text-decoration : none;
	text-align: center;

}

.Remove-button {
	position:absolute;
	background:white;
	height: 20px;
	width: 50px;
	font-size: 13px;
	color: #008CB8;
	font-weight: bold;
	border: 1px solid #FFFFFF;
	text-decoration : none;
	text-align: center;

}

.Login-button {
	position:absolute;
	background:white;
	height: 30px;
	width: 80px;
	font-size: 13px;
	color: #0084B2;
	font-weight: bold;
	border: 1px solid #0084B2;
	padding:5px;
	left: 10%;
	top: 80%;
	text-decoration : none;
	text-align: center;

}

.Follow-button {
	
	background:white;
	height: 30px;
	width: 80px;
	font-size: 13px;
	color: #0084B2;
	font-weight: bold;
	border: 1px solid #0084B2;
	padding:5px;
	
	text-decoration : none;
	text-align: center;

}

.signup-button {
	position:absolute;
	background:white;
	height: 30px;
	width: 80px;
	font-size: 13px;
	color: #0084B2;
	font-weight: bold;
	border: 1px solid #0084B2;
	padding:5px;
	left: 10%;
	top: 85%;
	text-decoration : none;
	text-align: center;

}


.rightbox {
	height: 300px;
	width: 450px;
    position: relative;
    border-left: 1px solid #EEEEEE;
    left: 50%;
    top: 5%;
}

.leftbox {
    position: relative;
	background:white;
	height: 20px;
	width: 200px;
	font-size: 13px;
	color: #0084B2;
	left: 12%;
	top: 40%;
}