{{#each follower in controller}}
{{#link-to "user" follower activeClass="selected"}}
{{/link-to}}
<div><img {{bind-attr src=follower.profileImage}} height="40" width="40"></p></div>
{{follower.name}}
{{/each}}