{{#if userexisted}}
  <div class="alert">Username has been taken!</div>
{{/if}}
<div class="Get-going">
  Create your account
</div>
<div class ="Enter-username-password">
  {{input type="text" class="textbox" id="name" placeholder="Enter your name ..." value=newCname action="create"}}
</div>
<div class ="Enter-username-password">
  {{input type="text" class="textbox" id="username" placeholder="Enter your username ..." value=newCusername action="create"}}
</div>
<div class ="Enter-username-password">
  {{input type="password" class="textbox" id="password" placeholder="Enter your password ..." value=newCpassword action="create"}}
</div>
<button type="submit" class="signup-button" {{action "create"}}> Sign up </button>
<div class ="Login-link">
  {{#link-to "public.login" activeClass="selected"}}Login{{/link-to}}	
</div>