<div class="Get-going">
  Create your account
</div>
<div class ="Enter-username-password">
  {{input type="text" class="textbox" id="name" placeholder="Enter your name ..." value=newUsername action="login"}}
</div>
<div class ="Enter-username-password">
  {{input type="text" class="textbox" id="username" placeholder="Enter your username ..." value=newUsername action="login"}}
</div>
<div class ="Enter-username-password">
  {{input type="password" class="textbox" id="password" placeholder="Enter your password ..." value=newPassword action="login"}}
</div>
<button type="submit" class="signup-button" {{action "signup"}}> Sign up </button>
<div class ="Login-link">
  {{#link-to "public.login" activeClass="selected"}}Login{{/link-to}}	
</div>