<div class="Get-going">
  Get going ...
</div>
<div class ="Enter-username-password">
  {{input type="text" class="textbox" id="username" placeholder="Enter your username ..." value=newUsername action="login"}}
</div>
<p></p>
<div class ="Enter-username-password">
  {{input type="password" class="textbox" id="password" placeholder="Enter your password ..." value=newPassword action="login"}}
</div>
<button type="submit" class="Login-button" {{action "login"}}>Log in</button>
<div class ="Recover-password">
  {{#link-to "public.resetpw" activeClass="selection"}}Recover password{{/link-to}}
  or 
  {{#link-to "public.create" activeClass="selected"}}Sign up{{/link-to}}
</div>