<div class="Get-going">
  Check your inbox!
</div>
<div class="resettextbox">
  We've sent you a recovery password in your email inbox.
</div>
<div class ="Login-link">
  {{#link-to "public.login" activeClass="selected"}}Login{{/link-to}}	
</div>