<section id="main">
        {{outlet}}
</section>

<div class="login-box">
  <div class="leftbox">
    <img src="telegram-logo.png" align = "center">
  </div>
  <div class="rightbox">
    <img src="postmark.png" align ="right">
    <div class="Get-going">
      Get going ...
    </div>
    <div class ="Enter-username-password">
      {{input type="text" class="textbox" name="username" id="username" placeholder="Enter your username ..."}}
    </div>
    <p></p>
    
    <div class ="Enter-username-password">
      {{input type="password" class="textbox" name="password" id="password" placeholder="Enter your password ..."}}
    </div>
    {{#link-to "create.login" class="Login-button"}}Log in{{/link-to}}
    <div class ="Recover-password">
      <a href="#" style="text-decoration : none; color:#008CB8">Recover password</a> or <a href="#" style="text-decoration : none; color:#008CB8">Sign up</a>
    </div>
  </div>
</div>

