<h2>latest updates ... pull the latest post from following, follower and my recent post</h2>
{{#link-to "users" activeClass="selected"}}Posts{{/link-to}}	
{{#link-to "user.followers" activeClass="selected"}}follwer{{/link-to}}	
