<h2>latest updates ... pull the latest post from following, follower and my recent post</h2>
{{#link-to "user" 'emily' activeClass="selected"}}Posts{{/link-to}}	
{{#link-to "user.followers" 'emily' activeClass="selected"}}followers{{/link-to}}	
{{#link-to "user.following" 'emily' activeClass="selected"}}following{{/link-to}}	