<div class=dcontent>
  latest updates ... pull the latest post from following, follower and my recent post
  <p>
  </p>
  {{#link-to "user" 'model.name' activeClass="selected"}}Posts{{/link-to}}	
  {{#link-to "user.followers" 'emily' activeClass="selected"}}followers{{/link-to}}	
  {{#link-to "user.following" 'emily' activeClass="selected"}}following{{/link-to}}	
</div>