<div class=dcontent>
  latest updates ... pull the latest post from following, follower and my recent post
  <p>
  </p>
  {{#link-to "user" name activeClass="selected"}}Posts{{/link-to}}	
  {{#link-to "user.followers" name activeClass="selected"}}followers{{/link-to}}	
  {{#link-to "user.following" name activeClass="selected"}}following{{/link-to}}	
</div>