<section id="main">
        
</section>
{{#if loginFailed}}
  <div class="alert">Invalid username or password.</div>
{{/if}}
<div class="login-box">
  <div class="leftbox">
    <img src="telegram-logo.png" align = "center">
  </div>
  <div class="rightbox">
    <img src="postmark.png" align ="right">
    {{outlet}}
  </div>
</div>

