
<div class="topbar">
<div class="topbar_left">
  <img src="homeicon.png" height="40" width="42"> home
</div>

<div class="topbar_center">
  <img src="dash-logo.png" height="42" width="125">	
  <!--{{uppercaseName}}-->
</div>

<div class="topbar_right">
  <img src="profile1.jpg" height="40" width="40"> {{name}}
  <!--{{uppercaseName}}-->
</div>
</div>