<div class="topbar_left">
  {{#link-to "dashboard" activeClass="selected"}}<img src="homeicon.png" height="40" width="42"> 
</div>
<div class="topbar_left1">
  Home{{/link-to}}
</div>
<div class="topbar_center">
  <img src="dash-logo.png" height="42" width="125">	
  <!--{{uppercaseName}} -->
</div>
<div class="topbar_right">
  <!--<img src="profile1.jpg" height="40" width="40">-->
  {{#link-to "user" session.user.id activeClass="selected"}}<img {{bind-attr src=session.user.profileImage}} height="40" width="40"> 
</div>
<div class="topbar_right1">
  {{session.user.name}}{{/link-to}}
</div>
  <!--{{uppercaseName}} -->

