<div class=topbar>
	{{name}}
</div>

<div class=dcontent>
  {{#link-to "user" id activeClass="selected"}}Posts{{/link-to}}	
  {{#link-to "user.followers" id activeClass="selected"}}Followers{{/link-to}}		
  {{#link-to "user.following" id activeClass="selected"}}Following{{/link-to}}
  {{outlet}}
</div>


