<div class="profile_topbar_center">
  <img src="dash-logo.png" height="42" width="125">	
</div>
<div class=topdivider>
</div>

<div class="profile_content1">
  <img {{bind-attr src=profileImage}} height="70" width="70">  
  <p>{{#link-to "user" id activeClass="selected"}}{{name}}{{/link-to}}</p>
  @{{id}}
  <p><button type="submit" class="Follow-button" {action 'follow'}}>Follow</button></p>

</div>

<div class="profile_content2">
  <p>
  {{#link-to "user" activeClass="selected"}}Posts{{/link-to}}	
  &nbsp;
  {{#link-to "user.followers" activeClass="selected"}}Followers{{/link-to}}		
  &nbsp;
  {{#link-to "user.following" activeClass="selected"}}Following{{/link-to}} 
  
</div>
<div class="profile_content3">
  <p>{{outlet}}</p>
</div>

